@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --padding-container: 70px 0;
    --color-title: #001A49;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #C4D1EC;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #ffffff, #ced1dc, #a2a6b9, #7a7f96, #565b73, #373b50, #1c1f2d);
    z-index: -1;
}
.hero_img{
    width: 85%;
    display: block;
    border-radius: 210px 210px 210px 210px;
    margin-left: 50px;
}
.hero_icon{
    vertical-align: -10px;
}
/* Nav */

#navbar{
    background-color: rgba(255, 255, 255, 0); /* Fondo inicial transparente */
    transition: background-color 0.3s ease; 
    position: sticky; 
    top: 0; 
    z-index: 1000; }

.nav{
        --padding-container: 0;
        height: 100%;
        display: flex;
        align-items: center;
    }
.nav__title {
    font-weight: 300;
}
.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items {
    list-style: none;
}
.nav__links {
    color: #C4D1EC;
    text-decoration: none;
    padding-top: 10px;
    transition-duration: 0.2s;
}
.nav__links:hover {
    color: #001A49;
    text-decoration: none;
}
.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
}
.nav_logo{
    width: 100px;
}
.nav_l{
    width: 30%;
}
.nav__close {
    display: var(--show, none);
}


/* Hero container */

.hero__container {
    max-width: 1200px;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}

.hero__title {
    color:#1c1f2d;
    font-size: 3.5rem;
}

.hero__paragraph {
    font-size:18px;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: 1.5px;
    margin-bottom: 20px;
}
a.cta{
    transition: transform 250ms;
    display: inline-block;
}
.cta_1{
    text-align: center;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo negro con transparencia */
    color: #54D6D6;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}
.cta_1:hover{
    background-color: rgba(0, 0, 0, 1); /* Fondo negro con transparencia */
}
.cta {
    background-color: #002878;
    background-image: linear-gradient(45deg, #33d9de 0%, #33d9de 55%, #243f81 90%);
    background-position: 100% 0;
    background-size: 200% 200%;
    color: white;
    border-radius: 50px;
    padding: 12px 48px;
    font-size: 16px;
    font-weight: 200;
    text-decoration: none;
    transition: all 0.5s ease;
  }
  
  .cta:hover {
    box-shadow: 0 0px 0px 0 rgba(0, 40, 120, 0);
    background-position: 0 0;
  }
/*Line Up*/
.lineUp {
    animation: 2s anim-lineUp ease-out infinite;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
/* About */
.subtitle {
    color: var(--color-title);
    font-size: 3rem;
    margin-bottom: 25px;
}

.about__paragraph {
    line-height: 1.9;
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
}
.about__p {
    text-align: justify;
    line-height: 1.7;
    text-align: center;
    font-size: 17px;
}

.about__title{
    color:#001A49;
    text-align: center;
    font-size: 30px;
}
.about__main {
    margin:100px 20px 20px 20px;
    padding-top: 80px;
    padding-bottom: 20px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about__icons {
    display: inline-block;
    overflow: hidden;
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 300px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 20px;
}
.about__icon {
    width: 40px;
}
.about__icon:hover {
    width: 40px;
    color: rgba(84, 214, 214, 0.3); 
}
.about_img{
    padding-left:50px;
    width: 100%;
}
.icon{
    vertical-align: -10px;
}
.about_skills{
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre los divs */
}
/* Knowledge */

.knowledge {
    background-color: #f6f6ff;
    opacity: 0.9;
    background-image: radial-gradient(#1A305B 0.55px, #f6f6ff 0.55px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
}

.knowledge__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}

.knowledge__picture{
    size:400px;
}

.knowledge__paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
}

.knowledge__img{
    width: 100%;
    display: block;
}

/* My Project */
.projects_container{
    text-align: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}
.projects__main{
    display: block;
    margin:20px 20px 20px 20px;
    padding-top: 10px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}
.img_projects:hover{
    background-color: rgba(84, 214, 214, 0.3); 
    opacity: 1; 
}
.img_projects{
    height:280px;
}
/* Form */
.form_container{
text-align: center;
width: 90%;
max-width: 1200px;
margin: 0 auto;
overflow: hidden;
padding: var(--padding-container);
}
.form__paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
}
/* Contact */
.contact_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 60px;
}
.contact-text {
    position: absolute;
     font-size: 17px;
     line-height: 20px;
     font-weight: 700;
     color: #fff;
     letter-spacing: 2px;
     top: 50%;
     right: 40px;
     cursor: pointer;
     z-index: 2;
     -webkit-writing-mode: vertical-lr;
     writing-mode: vertical-lr;
     transform: translateY(-50%) rotate(180deg);
     -webkit-transition: all 200ms linear;
     transition: all 200ms linear;
   }
   .contact-text:before {
     position: absolute;
     content: '';
     top: 50%;
     left: -25px;
     height: 30px;
     width: 30px;
     margin-top: -15px;
     z-index: -1;
     background-repeat: no-repeat;
     background-position: center;
     background-size: 30px 30px;
     opacity: 0.2;
     -webkit-transition: all 200ms linear;
     transition: all 200ms linear;
   }
   .contact-text:hover:before {
     opacity: 1;
     left: -30px;
   }
   .contact-section {
    padding-top: 80px;
    position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     display: block;
     overflow: hidden;
     height: 100vh;
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1600' height='800' preserveAspectRatio='none' viewBox='0 0 1600 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1688%26quot%3b)' fill='none'%3e%3crect width='1600' height='800' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1689%26quot%3b)'%3e%3c/rect%3e%3crect width='300' height='300' clip-path='url(%26quot%3b%23SvgjsClipPath1690%26quot%3b)' x='45.29' y='-128.02' fill='url(%26quot%3b%23SvgjsPattern1691%26quot%3b)' transform='rotate(327.46%2c 195.29%2c 21.98)'%3e%3c/rect%3e%3cpath d='M1297.37 746.6L1288.96 736.94 1296.54 726.61 1288.13 716.96 1295.7 706.63 1287.29 696.97 1294.87 686.65M1305.36 746.26L1296.95 736.61 1304.53 726.28 1296.12 716.62 1303.7 706.3 1295.29 696.64 1302.86 686.32M1313.36 745.93L1304.95 736.27 1312.52 725.95 1304.11 716.29 1311.69 705.96 1303.28 696.31 1310.85 685.98' stroke='rgba(72%2c 49%2c 212%2c 1)' stroke-width='1' stroke-dasharray='4%2c 4'%3e%3c/path%3e%3cpath d='M315.88 355.85 L383.93 382.41999999999996L377.16172230194127 341.8782776980587z' fill='rgba(72%2c 49%2c 212%2c 1)'%3e%3c/path%3e%3crect width='332.08' height='332.08' clip-path='url(%26quot%3b%23SvgjsClipPath1692%26quot%3b)' x='117.49' y='218.21' fill='url(%26quot%3b%23SvgjsPattern1693%26quot%3b)' transform='rotate(81.14%2c 283.53%2c 384.25)'%3e%3c/rect%3e%3crect width='228' height='228' clip-path='url(%26quot%3b%23SvgjsClipPath1694%26quot%3b)' x='1330.14' y='607.46' fill='url(%26quot%3b%23SvgjsPattern1695%26quot%3b)' transform='rotate(158.92%2c 1444.14%2c 721.46)'%3e%3c/rect%3e%3crect width='382.72' height='382.72' clip-path='url(%26quot%3b%23SvgjsClipPath1696%26quot%3b)' x='1348.85' y='-184.02' fill='url(%26quot%3b%23SvgjsPattern1697%26quot%3b)' transform='rotate(196.21%2c 1540.21%2c 7.34)'%3e%3c/rect%3e%3crect width='104' height='104' clip-path='url(%26quot%3b%23SvgjsClipPath1698%26quot%3b)' x='514.41' y='457.22' fill='url(%26quot%3b%23SvgjsPattern1699%26quot%3b)' transform='rotate(212.95%2c 566.41%2c 509.22)'%3e%3c/rect%3e%3ccircle r='126.70516846087426' cx='1399.62' cy='116.14' fill='rgba(204%2c 243%2c 129%2c 1)'%3e%3c/circle%3e%3ccircle r='66.66666666666667' cx='737' cy='423.02' stroke='rgba(204%2c 243%2c 129%2c 1)' stroke-width='1'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1688'%3e%3crect width='1600' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='50%25' x2='100%25' y2='50%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1689'%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3cstop stop-color='rgba(204%2c 243%2c 129%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cpattern x='0' y='0' width='300' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1691'%3e%3crect width='300' height='3' x='0' y='0' fill='rgba(204%2c 243%2c 129%2c 1)'%3e%3c/rect%3e%3crect width='300' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1690'%3e%3ccircle r='75' cx='195.29' cy='21.98'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='332.08' height='11.86' patternUnits='userSpaceOnUse' id='SvgjsPattern1693'%3e%3crect width='332.08' height='5.93' x='0' y='0' fill='rgba(204%2c 243%2c 129%2c 1)'%3e%3c/rect%3e%3crect width='332.08' height='5.93' x='0' y='5.93' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1692'%3e%3ccircle r='83.02' cx='283.53' cy='384.25'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='228' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1695'%3e%3crect width='228' height='3' x='0' y='0' fill='rgba(72%2c 49%2c 212%2c 1)'%3e%3c/rect%3e%3crect width='228' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1694'%3e%3ccircle r='57' cx='1444.14' cy='721.46'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='11.96' height='11.96' patternUnits='userSpaceOnUse' id='SvgjsPattern1697'%3e%3cpath d='M5.98 1L5.98 10.96M1 5.98L10.96 5.98' stroke='rgba(204%2c 243%2c 129%2c 1)' fill='none' stroke-width='1.25'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1696'%3e%3ccircle r='95.68' cx='1540.21' cy='7.34'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='10.4' height='10.4' patternUnits='userSpaceOnUse' id='SvgjsPattern1699'%3e%3cpath d='M0 10.4L5.2 0L10.4 10.4' stroke='rgba(72%2c 49%2c 212%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1698'%3e%3ccircle r='26' cx='566.41' cy='509.22'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
     transform: translateX(100%);
     -webkit-transition: all 300ms linear;
     transition: all 300ms linear;
     z-index: 10;
   }
   body.contact-on .contact-section {
     transform: translateX(0);
     -webkit-transition-delay: 400ms;
     transition-delay: 400ms;
   }
   .contact-close {
    position: absolute;
     top: 20px;
     right: 20px;
     width: 30px;
     display: block;
     overflow: hidden;
     height: 30px;
     -webkit-transition: all 200ms linear;
     transition: all 200ms linear;
     background-repeat: no-repeat;
     background-position: center;
     background-size: 36px 36px;
     background-image: url('http://www.ivang-design.com/svg-load/portfolio/close.svg');
     cursor: pointer;
     z-index: 11;
   }
   .contact-close:hover {
       transform: rotate(90deg);
   }
   .contact-section a{
       margin: 0 auto;
     font-size: 32px;
     font-weight: 900;
     letter-spacing: 1px;
     color: #4831D4;
     display: inline-block;
   }
   .contact-section .social a{
       margin-left: 8px;
     margin-right: 8px;
     font-size: 15px;
     font-weight: 600;
     letter-spacing: 1px;
     color: #866BAF;
   }
/* Footer */

.footer{
    background: linear-gradient(180deg, rgba(255,255,255,1) 23%, rgba(17,27,56,1) 100%);
}
.footer__title{
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer__title, .footer__newsletter{
    color: #C4D1EC
}
.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 60px;
}

.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.nav__link--footer{
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.footer__inputs{
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.footer__input{
    background-color: #fff;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footer__submit{
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px ;
    background-color: #2091F9;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.footer__copy{
    --padding-container: 30px 0;
    text-align: center;
    color: #C4D1EC
}

.footer__copyright{
    color:#001A49;
    font-size: 14px;
    text-decoration: none;
    font-weight: 300;
}

.footer__icons{
    margin-bottom: 10px;
    color: #C4D1EC
}

.footer__img{
    width: 30px;
}

/* Media queries */

@media (max-width:800px){
    .nav__menu{
        display: block;
    }

    .nav__link--menu{
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav__link--show{
        --show: block;
        opacity:1 ;
        pointer-events: unset;
    }

    .nav__close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .hero__title{
        font-size: 2.5rem;
    }


    .about__main{
        gap: 2em;
    }

    .about__icons:last-of-type{
        grid-column: 1/-1;
    }


    .knowledge__container{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }

    .knowledge__picture{
        grid-row: 1/2;
        justify-self: center;
    }

    .testimony__container{
        grid-template-columns: 30px 1fr 30px;
    }

    .testimony__body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items:center ;
    }


    .testimony__img{
        width: 200px;
        height: 200px;
        
    }

    .questions__copy{
        width: 100%;
    }

    .footer__container{
        flex-wrap: wrap;
    }

    .nav--footer{
        width: 100%;
        justify-items: center;
    }

    .nav__link--footer{
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }

    .footer__form{
        width: 100%;
        justify-content: space-evenly;
    }

    .footer__input{
        flex: 1;
    }

}

@media (max-width:600px){
    .hero__title{
        font-size: 2rem;
    }

    .hero__paragraph{
        font-size: 2rem;
    }

    .subtitle{
        font-size: 1.8rem;
    }

    .price__element{
        width: 90%;
    }

    .price__element--best{
        width: 90%;
        /* padding: 40px; */
    }

    .price__price{
        font-size: 2rem;
    }

    .testimony{
        --padding-container: 60px 0;
    }

    .testimony__container{
        grid-template-columns: 28px 1fr 28px;
        gap: .9em;
    }

    .testimony__arrow{
        width: 100%;
    }

    .testimony__course{
        margin-top: 15px;
    }

    .questions__title{
        font-size: 1rem;
    }

    .footer__title{
        justify-self: start;
        margin-bottom: 15px;
    }

    .nav--footer{
        padding-bottom: 60px;
    }

    .nav__link--footer{
        justify-content: space-between;
    }

    .footer__inputs{
        flex-wrap: wrap;
    }

    .footer__input{
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 16px;
    }

    .footer__submit{
        margin-right: auto;
        margin-left: 0;
        

        /* 
        margin:0;
        width: 100%;
        */
    }
}