@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --padding-container: 70px 0;
    --color-title: #001A49;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #C4D1EC;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #ffffff, #ced1dc, #a2a6b9, #7a7f96, #565b73, #373b50, #1c1f2d);
    z-index: -1;
}
.hero_img{
    width: 85%;
    display: block;
    border-radius: 210px 210px 210px 210px;
    margin-left: 50px;
}
.hero_icon{
    vertical-align: -10px;
}
/* Nav */

#navbar{
    background-color: rgba(255, 255, 255, 0); /* Fondo inicial transparente */
    transition: background-color 0.3s ease; 
    position: sticky; 
    top: 0; 
    z-index: 1000; }

.nav{
        --padding-container: 0;
        height: 100%;
        display: flex;
        align-items: center;
    }
.nav__title {
    font-weight: 300;
}
.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items {
    list-style: none;
}
.nav__links {
    color: #C4D1EC;
    text-decoration: none;
    padding-top: 10px;
    transition-duration: 0.2s;
}
.nav__links:hover {
    color: #001A49;
    text-decoration: none;
}
.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
}
.nav_logo{
    width: 100px;
}
.nav_l{
    width: 30%;
}
.nav__close {
    display: var(--show, none);
}


/* Hero container */

.hero__container {
    max-width: 1200px;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}

.hero__title {
    color:#1c1f2d;
    font-size: 3.5rem;
}

.hero__paragraph {
    font-size:18px;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: 1.5px;
    margin-bottom: 20px;
}
a.cta{
    transition: transform 250ms;
    display: inline-block;
}
.cta_1{
    text-align: center;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo negro con transparencia */
    color: #54D6D6;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}
.cta_1:hover{
    background-color: rgba(0, 0, 0, 1); /* Fondo negro con transparencia */
}
.cta {
    background-color: #002878;
    background-image: linear-gradient(45deg, #33d9de 0%, #33d9de 55%, #243f81 90%);
    background-position: 100% 0;
    background-size: 200% 200%;
    color: white;
    border-radius: 50px;
    padding: 12px 48px;
    font-size: 16px;
    font-weight: 200;
    text-decoration: none;
    transition: all 0.5s ease;
  }
  
  .cta:hover {
    box-shadow: 0 0px 0px 0 rgba(0, 40, 120, 0);
    background-position: 0 0;
  }
/*Line Up*/
.lineUp {
    animation: 2s anim-lineUp ease-out infinite;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
/* About */
.subtitle {
    color: var(--color-title);
    font-size: 3rem;
    margin-bottom: 25px;
}

.about__paragraph {
    line-height: 1.9;
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
}
.about__p {
    text-align: justify;
    line-height: 1.7;
    text-align: center;
    font-size: 17px;
}

.about__title{
    color:#001A49;
    text-align: center;
    font-size: 30px;
}
.about__main {
    margin:100px 20px 20px 20px;
    padding-top: 80px;
    padding-bottom: 20px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about__icons {
    display: inline-block;
    overflow: hidden;
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 300px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 20px;
}
.about__icon {
    width: 40px;
}
.about__icon:hover {
    width: 40px;
    color: rgba(84, 214, 214, 0.3); 
}
.about_img{
    padding-left:50px;
    width: 100%;
}
.icon{
    vertical-align: -10px;
}
.about_skills{
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre los divs */
}
/* Knowledge */

.knowledge {
    background-color: #f6f6ff;
    opacity: 0.9;
    background-image: radial-gradient(#1A305B 0.55px, #f6f6ff 0.55px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
}

.knowledge__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}

.knowledge__picture{
    size:400px;
}

.knowledge__paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
}

.knowledge__img{
    width: 100%;
    display: block;
}

/* My Project */
.projects_container{
    text-align: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}
.projects__main{
    display: block;
    margin:20px 20px 20px 20px;
    padding-top: 10px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}
.img_projects:hover{
    background-color: rgba(84, 214, 214, 0.3); 
    opacity: 1; 
}
.img_projects{
    height:280px;
}
/* Form */
.form_container{
text-align: center;
width: 90%;
max-width: 1200px;
margin: 0 auto;
overflow: hidden;
padding: var(--padding-container);
}
/* Footer */

.footer{
    background: linear-gradient(180deg, rgba(255,255,255,1) 23%, rgba(17,27,56,1) 100%);
}
    .footer__title{
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer__title, .footer__newsletter{
    color: #C4D1EC
}
.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 60px;
}

.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.nav__link--footer{
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.footer__inputs{
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.footer__input{
    background-color: #fff;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footer__submit{
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px ;
    background-color: #2091F9;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.footer__copy{
    --padding-container: 30px 0;
    text-align: center;
    color: #C4D1EC
}

.footer__copyright{
    color:#001A49;
    font-size: 14px;
    text-decoration: none;
    font-weight: 300;
}

.footer__icons{
    margin-bottom: 10px;
    color: #C4D1EC
}

.footer__img{
    width: 30px;
}

/* Media queries */

@media (max-width:800px){
    .nav__menu{
        display: block;
    }

    .nav__link--menu{
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav__link--show{
        --show: block;
        opacity:1 ;
        pointer-events: unset;
    }

    .nav__close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .hero__title{
        font-size: 2.5rem;
    }


    .about__main{
        gap: 2em;
    }

    .about__icons:last-of-type{
        grid-column: 1/-1;
    }


    .knowledge__container{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }

    .knowledge__picture{
        grid-row: 1/2;
        justify-self: center;
    }

    .testimony__container{
        grid-template-columns: 30px 1fr 30px;
    }

    .testimony__body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items:center ;
    }


    .testimony__img{
        width: 200px;
        height: 200px;
        
    }

    .questions__copy{
        width: 100%;
    }

    .footer__container{
        flex-wrap: wrap;
    }

    .nav--footer{
        width: 100%;
        justify-items: center;
    }

    .nav__link--footer{
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }

    .footer__form{
        width: 100%;
        justify-content: space-evenly;
    }

    .footer__input{
        flex: 1;
    }

}

@media (max-width:600px){
    .hero__title{
        font-size: 2rem;
    }

    .hero__paragraph{
        font-size: 2rem;
    }

    .subtitle{
        font-size: 1.8rem;
    }

    .price__element{
        width: 90%;
    }

    .price__element--best{
        width: 90%;
        /* padding: 40px; */
    }

    .price__price{
        font-size: 2rem;
    }

    .testimony{
        --padding-container: 60px 0;
    }

    .testimony__container{
        grid-template-columns: 28px 1fr 28px;
        gap: .9em;
    }

    .testimony__arrow{
        width: 100%;
    }

    .testimony__course{
        margin-top: 15px;
    }

    .questions__title{
        font-size: 1rem;
    }

    .footer__title{
        justify-self: start;
        margin-bottom: 15px;
    }

    .nav--footer{
        padding-bottom: 60px;
    }

    .nav__link--footer{
        justify-content: space-between;
    }

    .footer__inputs{
        flex-wrap: wrap;
    }

    .footer__input{
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 16px;
    }

    .footer__submit{
        margin-right: auto;
        margin-left: 0;
        

        /* 
        margin:0;
        width: 100%;
        */
    }
}